In [1]:
import pandas as pd
import numpy
from faker import Faker
import datetime

In [10]:
import pandas as pd
import numpy as np
import datetime
from faker import Faker

def create_synthetic_development_data(n_rows):
    fake = Faker("en_US")

    countries = []
    continents = []
    hdi = []
    years = []
    life_expectancy = []
    gdp_per_cap = []
    age5_surviving = []
    CO2_emissions = []

    start_date = datetime.date(1900, 1, 1)
    end_date = datetime.date(2019, 1, 1)

    possible_continents = ["North America", "Latin America", "Europe", "Oceania", "Africa", "Asia"]

    possible_countries = [
        'Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina', 'Australia', 'Austria',
        'Bahrain', 'Bangladesh', 'Belgium', 'Benin', 'Bolivia', 'Bosnia and Herzegovina',
        'Botswana', 'Brazil', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon',
        'Canada', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros',
        'Congo, Dem. Rep.', 'Congo, Rep.', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba',
        'Czech Republic', 'Denmark', 'Djibouti', 'Dominican Republic', 'Ecuador', 'Egypt',
        'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Ethiopia', 'Finland', 'France', 'Gabon',
        'Gambia', 'Germany', 'Ghana', 'Greece', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Haiti',
        'Honduras', 'Hong Kong, China', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran',
        'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kenya', 'Kuwait',
        'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Madagascar', 'Malawi', 'Malaysia', 'Mali',
        'Mauritania', 'Mauritius', 'Mexico', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique',
        'Myanmar', 'Namibia', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger',
        'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Panama', 'Paraguay', 'Peru', 'Philippines',
        'Poland', 'Portugal', 'Puerto Rico', 'Reunion', 'Romania', 'Rwanda', 'Sao Tome and Principe',
        'Saudi Arabia', 'Senegal', 'Serbia', 'Sierra Leone', 'Singapore', 'Slovak Republic',
        'Slovenia', 'Somalia', 'South Africa', 'South Korea', 'Spain', 'Sri Lanka', 'Sudan',
        'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tanzania', 'Thailand', 'Togo',
        'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Uganda', 'United Kingdom', 'United States',
        'Uruguay', 'Venezuela', 'Vietnam', 'West Bank and Gaza', 'Yemen', 'Zambia', 'Zimbabwe'
    ]

    for _ in range(n_rows):
        hdi.append(round(np.random.uniform(0.3, 0.95), 3))
        years.append(np.random.randint(1960, 2020))
        continents.append(np.random.choice(possible_continents))
        countries.append(np.random.choice(possible_countries))
        life_expectancy.append(round(np.random.uniform(40, 85), 1))
        gdp_per_cap.append(round(np.random.normal(loc=20000, scale=10000), 2))
        age5_surviving.append(np.random.randint(50, 100))
        CO2_emissions.append(round(np.random.uniform(0.1, 20), 2))

    data = pd.DataFrame({
        "country": countries,
        "continent": continents,
        "year": years,
        "hdi": hdi,
        "life_expectancy": life_expectancy,
        "gdp_per_cap": gdp_per_cap,
        "age5_surviving": age5_surviving,
        "CO2_emissions": CO2_emissions
    })

    return data

In [13]:
df = create_synthetic_development_data(1000)
df.head()

,country,continent,year,hdi,life_expectancy,gdp_per_cap,age5_surviving,CO2_emissions
0,Rwanda,Latin America,1965,0.446,48.6,8638.91,99,7.27
1,Nicaragua,North America,1992,0.623,56.5,14391.09,55,3.75
2,Zimbabwe,Latin America,1972,0.559,73.5,26062.11,89,12.66
3,Serbia,Africa,2006,0.318,61.7,12652.11,53,16.38
4,Zimbabwe,Oceania,1997,0.459,61.9,26777.01,53,18.26

In [31]:
import pandas as pd
import numpy as np
import datetime
from faker import Faker

def create_synthetic_development_data(n_rows):
    fake = Faker("en_US")

    countries = []
    continents = []
    hdi = []
    years = []
    life_expectancy = []
    gdp_per_cap = []
    age5_surviving = []
    CO2_emissions = []

    start_date = datetime.date(1900, 1, 1)
    end_date = datetime.date(2019, 1, 1)

    country_continent = {
    # Africa
    'Algeria': 'Africa', 'Angola': 'Africa', 'Benin': 'Africa', 'Botswana': 'Africa',
    'Burkina Faso': 'Africa', 'Burundi': 'Africa', 'Cameroon': 'Africa',
    'Cape Verde': 'Africa', 'Central African Republic': 'Africa', 'Chad': 'Africa',
    'Comoros': 'Africa', 'Congo, Dem. Rep.': 'Africa', 'Congo, Rep.': 'Africa',
    "Cote d'Ivoire": 'Africa', 'Djibouti': 'Africa', 'Egypt': 'Africa',
    'Equatorial Guinea': 'Africa', 'Eritrea': 'Africa', 'Ethiopia': 'Africa',
    'Gabon': 'Africa', 'Gambia': 'Africa', 'Ghana': 'Africa', 'Guinea': 'Africa',
    'Guinea-Bissau': 'Africa', 'Kenya': 'Africa', 'Lesotho': 'Africa',
    'Liberia': 'Africa', 'Libya': 'Africa', 'Madagascar': 'Africa',
    'Malawi': 'Africa', 'Mali': 'Africa', 'Mauritania': 'Africa',
    'Mauritius': 'Africa', 'Morocco': 'Africa', 'Mozambique': 'Africa',
    'Namibia': 'Africa', 'Niger': 'Africa', 'Nigeria': 'Africa',
    'Reunion': 'Africa', 'Rwanda': 'Africa', 'Sao Tome and Principe': 'Africa',
    'Senegal': 'Africa', 'Sierra Leone': 'Africa', 'Somalia': 'Africa',
    'South Africa': 'Africa', 'Sudan': 'Africa', 'Swaziland': 'Africa',
    'Tanzania': 'Africa', 'Togo': 'Africa', 'Tunisia': 'Africa', 'Uganda': 'Africa',
    'Zambia': 'Africa', 'Zimbabwe': 'Africa',

    # Asia
    'Afghanistan': 'Asia', 'Armenia': 'Asia', 'Azerbaijan': 'Asia', 'Bahrain': 'Asia',
    'Bangladesh': 'Asia', 'Bhutan': 'Asia', 'Brunei': 'Asia', 'Cambodia': 'Asia',
    'China': 'Asia', 'Hong Kong, China': 'Asia', 'India': 'Asia', 'Indonesia': 'Asia',
    'Iran': 'Asia', 'Iraq': 'Asia', 'Israel': 'Asia', 'Japan': 'Asia',
    'Jordan': 'Asia', 'Kazakhstan': 'Asia', 'Kuwait': 'Asia', 'Lebanon': 'Asia',
    'Malaysia': 'Asia', 'Mongolia': 'Asia', 'Myanmar': 'Asia', 'Nepal': 'Asia',
    'Oman': 'Asia', 'Pakistan': 'Asia', 'Philippines': 'Asia', 'Saudi Arabia': 'Asia',
    'Singapore': 'Asia', 'South Korea': 'Asia', 'Sri Lanka': 'Asia',
    'Syria': 'Asia', 'Taiwan': 'Asia', 'Tajikistan': 'Asia', 'Thailand': 'Asia',
    'Timor-Leste': 'Asia', 'Turkey': 'Asia', 'Turkmenistan': 'Asia',
    'United Arab Emirates': 'Asia', 'Uzbekistan': 'Asia', 'Vietnam': 'Asia',
    'West Bank and Gaza': 'Asia', 'Yemen': 'Asia',

    # Europe
    'Albania': 'Europe', 'Austria': 'Europe', 'Belgium': 'Europe', 'Bosnia and Herzegovina': 'Europe',
    'Bulgaria': 'Europe', 'Croatia': 'Europe', 'Czech Republic': 'Europe', 'Denmark': 'Europe',
    'Finland': 'Europe', 'France': 'Europe', 'Germany': 'Europe', 'Greece': 'Europe',
    'Hungary': 'Europe', 'Iceland': 'Europe', 'Ireland': 'Europe', 'Italy': 'Europe',
    'Montenegro': 'Europe', 'Netherlands': 'Europe', 'Norway': 'Europe', 'Poland': 'Europe',
    'Portugal': 'Europe', 'Romania': 'Europe', 'Serbia': 'Europe', 'Slovak Republic': 'Europe',
    'Slovenia': 'Europe', 'Spain': 'Europe', 'Sweden': 'Europe', 'Switzerland': 'Europe',
    'United Kingdom': 'Europe',

    # North America
    'Canada': 'North America', 'Costa Rica': 'North America', 'Cuba': 'North America',
    'Dominican Republic': 'North America', 'El Salvador': 'North America', 'Guatemala': 'North America',
    'Haiti': 'North America', 'Honduras': 'North America', 'Jamaica': 'North America',
    'Mexico': 'North America', 'Nicaragua': 'North America', 'Panama': 'North America',
    'Puerto Rico': 'North America', 'Trinidad and Tobago': 'North America', 'United States': 'North America',

    # South America
    'Argentina': 'South America', 'Bolivia': 'South America', 'Brazil': 'South America',
    'Chile': 'South America', 'Colombia': 'South America', 'Ecuador': 'South America',
    'Paraguay': 'South America', 'Peru': 'South America', 'Uruguay': 'South America',
    'Venezuela': 'South America',

    # Oceania
    'Australia': 'Oceania', 'New Zealand': 'Oceania'
}


    for _ in range(n_rows):
        hdi.append(round(np.random.uniform(0.3, 0.95), 3))
        years.append(np.random.randint(1960, 2020))
        country = np.random.choice(list(country_continent.keys()))
        continent = country_continent[country]
        countries.append(country)
        continents.append(continent)
        life_expectancy.append(round(np.random.uniform(40, 85), 1))
        gdp_per_cap.append(round(np.random.normal(loc=20000, scale=10000), 2))
        age5_surviving.append(np.random.randint(50, 100))
        CO2_emissions.append(round(np.random.uniform(0.1, 20), 2))

    data = pd.DataFrame({
        "country": countries,
        "continent": continents,
        "year": years,
        "hdi": hdi,
        "life_expectancy": life_expectancy,
        "gdp_per_cap": gdp_per_cap,
        "age5_surviving": age5_surviving,
        "CO2_emissions": CO2_emissions
    })

    return data

In [33]:
df=create_synthetic_development_data(1000)
df

,country,continent,year,hdi,life_expectancy,gdp_per_cap,age5_surviving,CO2_emissions
0,Oman,Asia,2018,0.526,65.3,30405.91,80,13.99
1,Greece,Europe,1969,0.758,54.4,4328.74,80,18.79
2,Mauritania,Africa,2001,0.806,67.8,18609.15,62,6.89
3,Cameroon,Africa,1985,0.762,84.9,22451.98,63,17.24
4,Comoros,Africa,1971,0.449,41.9,34255.38,69,14.91
...,...,...,...,...,...,...,...,...
995,Afghanistan,Asia,2007,0.603,62.4,30715.67,97,8.92
996,Kazakhstan,Asia,1993,0.605,58.2,24014.77,90,13.79
997,Chile,South America,1961,0.894,49.1,19309.24,84,10.90
998,Indonesia,Asia,2016,0.800,64.1,14786.14,59,6.86
999,Lebanon,Asia,1982,0.641,45.3,17858.08,97,18.11